
@font-face {
    font-family: libre;
    src: url(LibreFranklin-Regular.ttf);
}
*{
    padding: 0;
    margin: 0;
    
}

body{
    text-align: center;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background-repeat: no-repeat;
    height: 100vh;
    font-family: libre;
}

.heading1{
    height: 20vh;
    line-height: 15vh;
    font-size:8vmin;
    font-weight: 600;
}

.container{
    background-color: white;
    width: 30%;
    height: 65vh;
    margin: 0 auto;
    border-radius: 15px;
    position: relative;
}

.heading2{
    height: 15vh;
    line-height: 18vh;
    font-size: 2rem;
}

.linebar{
    width: 90%;
    height: 2px;
    background-color: grey;
    margin: 0 auto;
    border-radius: 100px;
    margin-bottom: 3vh;
}

.amount p, .from p, .to p{
    font-size: 1.1rem;
    font-weight: 600;
}

form{
    padding: 0 8%;
}

.amount {
    text-align: left;
    margin-bottom: 1rem;
}

.from-to-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
}

.amount input{
    height: 5vh;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 1.5vh;
    padding-left: 2px;
}

.msg p{
    height: 8vh;
    line-height: 8vh;
}

button{
    font-size: 2.5vmin;
    background-color: rgb(17, 100, 202);
    color: white;
    width: 80%;
    padding: 10px ;
    border-radius: 15px;
    outline: none;
    border: none;
    font-weight: 600;
}

button:hover{
    background-color: black;
}
.dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 5vh;
    padding: 3px 8px;
}

.dropdown img{
    height: 5vh;
    overflow: hidden;
}

.dropdown select {
    font-size: 1rem;
    width: auto;
    outline: none;
    border: none;
  }

.from p, .to p{
    margin-bottom: 1.5vh;
}

.fa-solid{
    scale: 1.2;
    margin-top: 5px;
}

@media (max-width: 900px) {
    .container{
    width: 40%;
    }
}
@media (max-width: 770px) {
    .container{
    width: 50%;
    }
}
@media (max-width: 520px) {
    .container{
    width: 60%;
    }
}

@media (max-width: 475px) {
    .container{
    width: 70%;
    }

    button {
        font-size: 3vmin;
    }
}

@media (max-width: 355px) {
    .container{
    width: 80%;
    }
}